head
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
.stage
	.cube
		figure.front
			.one
		figure.back
			.threes
				.three
				.three
				.three
		figure.top
			.fours
				.four
				.four
				.four
				.four
		figure.center1
		figure.center2
		figure.bottom
			.sixes
				.six
				.six
				.six
				.six
				.six
				.six
		figure.left
			.twoes
				.two
				.two
		figure.right
			.fives
				.five
				.five
				.five.center
				.five
				.five